{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_row(form.outingName) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.duration) }}
    {{ form_row(form.registrationDeadLine) }}
    {{ form_row(form.maxParticipants) }}
    {{ form_row(form.description) }}
    {{ form_row(form.campus) }}
    {{ form_row(form.town) }}
    {{ form_row(form.location) }}

    <button class="btn btn-primary">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}

<script>
    var $town = $('#outing_town');
    console.log($town.val());
    // When town gets selected ...
    $town.change(function() {

        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : "{{ path('outing_list_locations') }}",
            type: "GET",
            data : {
                "townid": $town.val()
            },
            success: function (locations) {
                var locationsSelect = $('#outing_location');
                locationsSelect.empty();
                locationsSelect.append('<option value>Choisissez votre lieu</option>')
                $.each(locations, function(key, location) {
                    locationsSelect.append('<option value="' + location.id + '">' + location.name + '</option>');
                });
            },
            error: function(err) {
                alert('An error occurred');
            }
        });
    });
</script>
