{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_row(form.outingName) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.duration) }}
    {{ form_row(form.registrationDeadLine) }}
    {{ form_row(form.maxParticipants) }}
    {{ form_row(form.description) }}
    {{ form_row(form.campusShown) }}
    {{ form_row(form.town) }}
    {{ form_row(form.location) }}
    {{ form_row(form.adress) }}
    {{ form_row(form.longitude) }}
    {{ form_row(form.latitude) }}

    <button class="btn btn-primary" value="create" name="create">{{ button_label|default('Créer') }}</button>
    <button class="btn btn-secondary" value="publish" name="create">{{ button_label|default('Publier') }}</button>

{{ form_end(form) }}

<script>
    var $town = $('#outing_town');
    console.log($town.val());
    // When town gets selected ...
    $town.change(function() {

        // Submit data via AJAX to the form's action path.
        $.ajax({
            url : "{{ path('outing_list_locations') }}",
            type: "GET",
            data : {
                "townid": $town.val()
            },
            success: function (locations) {
                var locationsSelect = $('#outing_location');
                var adress = $('#outing_adress');
                adress.val('');
                var latitude = $('#outing_latitude');
                latitude.val('');
                var longitude = $('#outing_longitude');
                longitude.val('');
                locationsSelect.empty();
                locationsSelect.append('<option value>Choisissez votre lieu</option>')
                $.each(locations, function(key, location) {
                    console.log(location);
                    locationsSelect.append('<option value="' + location.id + '">' + location.name + '</option>');
                });
            },
            error: function(err) {
                alert('An error occurred');
            }
        });
    });
    var $location = $('#outing_location');
    // When location gets selected ...
    $location.change(function() {
        $.ajax({
            url: "{{ path('outing_location_informations') }}",
            type: "GET",
            data : {
                "locationId": $location.val()
            },
            success: function (location) {
                var adress = $('#outing_adress');
                adress.val(location.adress);
                var latitude = $('#outing_latitude');
                latitude.val(location.latitude);
                var longitude = $('#outing_longitude');
                longitude.val(location.longitude);
            },
            error: function(err) {
                alert('An error occurred');
            }

        })
    });
</script>
