{% extends 'base.html.twig' %}

{% block title %}Annuler la sortie{% endblock %}

{% block main %}
    <h1>Annuler votre sortie</h1>

    Nom de la sortie : {{ outing.outingName }}
    Date de la sortie : {{ outing.startDate|date('Y-m-d H:i:s') }}
    Campus : {{ outing.campus }}
    Lieu : {{ outing.location }}
    {{ include('outing/_form.html.twig') }}

    <a href="{{ path('app_home') }}">Accueil</a>

{% endblock %}
