{% extends 'base.html.twig' %}

{% block title %}Edit Outing{% endblock %}

{% block main %}
    <h1>Cancel Outing</h1>

    Nom de la sortie : {{ outing.outingName }}
    Date de la sortie : {{ outing.startDate|date('Y-m-d H:i:s') }}
    Campus : {{ outing.campus }}
    Lieu : {{ outing.location }}
    {{ include(
        'outing/_form.html.twig', {
            'primary_button_label': 'Cancel',
            'primary_value': '',
            'primary_name': '',
            'secondary_button_label': 'Null',
            'secondary_value': '',
            'secondary_name': '',
            'secondary_class': 'unused-button'
        })
    }}


    <a href="{{ path('outing_index') }}">back to list</a>

    <script>
        $('.unused-button').remove();
    </script>
{% endblock %}
