<img class="logo" src="{{ asset('resources/images/logo.png') | imagine_filter('header_logo') }}" alt="logo sortir.com" />

<nav class="nav justify-content-end">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        {% if is_granted('ROLE_ADMIN') %}
            <a class="nav-link" href="{{ path('app_home') }}">Villes</a> <!-- TODO : page + path 'admin_towns' -->
            <a class="nav-link" href="{{ path('app_home') }}">Campus</a> <!-- TODO : page + path 'admin_campus '-->
        {% endif %}
            <a class="nav-link" href="{{ path('app_home') }}">Accueil</a> 
            <a class="nav-link" href="{{ path('user_edit', {'username': app.user.pseudo})}}">Mon profil</a> <!-- TODO : page + path 'user_profile' -->
            <a class="nav-link" href="{{path('app_logout') }}">Se déconnecter</a> <!-- TODO : path 'app_logout' -->
    {% endif %}
</nav>

