{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block main %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
    <h3>Edit User</h3>

    {{ form_start(form) }}
    
    {{ form_widget(form) }}

    <div class="button mt-4">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="reset" class="btn btn-secondary">Effacer</button>
    </div>

    {{ form_end(form) }}
</div>

    {#{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}#}

    <a href="{{ path('user_index') }}">back to list</a>

    {#{{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
