{% extends 'base.html.twig' %} 

{% block stylesheets %} <link href="{{ asset('css/profile.css')}}" rel="stylesheet"> {% endblock %}


{% block title %}My profile ! {% endblock %} 

{% block main %}
<div class="profile_wrap">
    <h3>Mon profil</h3>
    {{ form_start(profile) }}
    
        {{ form_row(profile.username) }}  
    
        {{ form_row(profile.lastName) }}
    
        {{ form_row(profile.firstName) }}
    
        {{ form_row(profile.phone) }}
    
        {{ form_row(profile.email) }}
    
        {{ form_row(profile.password) }}

        {{ form_row(profile.campus) }}

    <div class="button">
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <button type="reset" class="btn btn-secondary">Effacer</button>
    </div>

    {{ form_end(profile) }}
</div>
{% endblock %}