{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block main %}
    {% if app.user is same as(user) %}
        <h1>Mon profil</h1>
    {% else %}
        <h1>{{ user.username }}</h1>
    {% endif %}

    <table class="table">
        <tbody>
            {% if app.user is same as(user) %}
                <tr>
                    <th>Pseudo</th>
                    <td>{{ user.username }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Nom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
             <tr>
                <th>Campus</th>
                <td>{{ user.campus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_home') }}">Accueil</a>
    {% if user == app.user %}
    <a href="{{ path('user_edit', {'username': user.username}) }}">Modifier</a>
    {% endif %}
{% endblock %}
