{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block main %}
    <h1>User</h1>

    <img src="{{ asset('/uploads/profile_pictures/' ~ user.profilePicture ) }}" alt="Profile picture">

    <table class="table">
        <tbody>
            <tr>
                <th>Pseudo</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
             <tr>
                <th>Campus</th>
                <td>{{ user.campus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_home') }}">Accueil</a>
    {% if user == app.user %}
    <a href="{{ path('user_edit', {'username': user.username}) }}">edit</a>
    {% endif %}
{% endblock %}
